html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:        100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing:       0;
  }

/*								   */
/* Theme starts here */
/*									 */

html{
  background: #F1F1F1;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-family: Georgia, "Bitstream Charter", serif;
}
body{
  width: 940px;
  background: white;
  margin: 2em auto;
  padding: 10px  20px 20px 20px;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin-bottom:1em;
}

h1 {
	font-size:200%;
}
h2 {
	font-size:150%;
}
h3 {
	font-size:125%;
}
h4 {
	font-size:100%;
}
h5 {
	font-size:75%;
}
h6 {
	font-size:50%;
}

a:link {color:#E96500;}
a:visited {color:#984200;}
a:hover {color:#FF6F00;}
a:active {color:#E09B67;}

p{
  margin-bottom: 1em;
}

em {
  font-style: oblique;
}

strong {
  font-weight: bold;
}

ol, ul {
	margin-left: 0em;
	margin-bottom: 1em;
}

ul {
	list-style:square;
}

.wrapper{
  margin: 0 2em;
}

.clear{
  clear: both;
}

h1#logo{
  text-indent: -999em;
  width: 940px;
  height: 198px;
  background: url("skullspace.png");
}
#site-title{
  font-size: 30px;
  line-height: 36px;
  height: 36px;
  margin-bottom: 18px;
}
#site-title a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;

}
#site-title a:hover, #site-title:active, #site-title:visited{
  color: black;
}

#twitter_feed{
  width: 290px;
  float: left;
}

#twitter_feed ul{
  list-style: none;
  margin:0;
}
#twitter_feed li{
  padding: 1em 0em;
  border-bottom: 1px dashed #DDD;
}
#twitter_feed li:hover {
  background-color: #F8F8F8;
}
#who-we-are {
  width: 515px;
  float: left;
}
#flickr{
  width: 300px;
}
#flickr_feed{
  width: 300px;
  height: 375px;
  padding: 5px;
  margin:  5px;
	margin-bottom:1em;
  background: black;
          box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
     -moz-box-shadow: 0px 0px 5px black;
}
#flickr_feed a{
  cursor: pointer;
}
#flickr_feed img{
  margin:  0;
  padding: 0;
  float: left;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
  z-index:1;
}
#flickr_feed img:hover {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
       -o-transform: scale(1.5);
          box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
     -moz-box-shadow: 0px 0px 5px black;
  z-index:2;
  cursor: pointer;
}
.clear{
  clear:both;
}

#vimeo_feed div{
  font-size: small;
  padding: 1em;
  border-bottom: 1px dashed #DDD;
}

#vimeo_feed div:hover {
  background-color: #F8F8F8;
}

#vimeo_feed div img {
  cursor: pointer;
  border: 1px solid #333;
}

ul#main-nav {
  list-style: none;
  height: 30px;
  background: black;
	margin-right:0em;
}

ul#main-nav li {
  float: left;
}

ul#main-nav li a{
  text-decoration: none;
  color: #eee;
  font-family: Arial;
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  padding: 0 2em;
  display: block;
}

ul#main-nav li a:hover {
  background: #e7883f;
  color: white;
}


#video-overlay {
  height: 500px;
  width: 500px;
  border: none;
}

a#join-now{
  color: white;
  text-decoration: none;
  width: 190px;
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #22ff00 0%,
    #00bd32);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#22ff00),
    to(#00bd32));
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #04d604;
  -moz-box-shadow:
    0px 1px 3px rgba(003,002,003,0.5),
    inset 0px 0px 1px rgba(092,092,092,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(003,002,003,0.5),
    inset 0px 0px 1px rgba(092,092,092,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.7),
    0px 1px 0px rgba(255,255,255,0.3);
}

a#join-now:hover {
  background: -moz-linear-gradient(
    bottom,
    #22ff00 0%,
    #00bd32);
  background: -webkit-gradient(
    linear, left bottom, left top,
    from(#22ff00),
    to(#00bd32));
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #04d604;
  -moz-box-shadow:
    0px 1px 3px rgba(003,002,003,0.5),
    inset 0px 0px 1px rgba(092,092,092,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(003,002,003,0.5),
    inset 0px 0px 1px rgba(092,092,092,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.7),
    0px 1px 0px rgba(255,255,255,0.3);
}
a#join-now:active {
  -moz-box-shadow:
    0px 1px 3px rgba(003,002,003,0.5),
    inset 0px 0px 1px rgba(092,092,092,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(003,002,003,0.5),
    inset 0px 0px 1px rgba(092,092,092,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.7),
    0px 1px 0px rgba(255,255,255,0.3);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}

/* the overlayed element */
.simple_overlay {

  /* must be initially hidden */
  display:none;

  /* place overlay on top of other elements */
  z-index:10000;

  /* styling */
  background-color:#333;

  width: 690px;
  width: 500px;
  border:1px solid #666;

  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
  background-image:url(img/overlay/close.png);
  position:absolute;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
}
#sidebar {
  padding-left: 1em;
  border-left: 1px solid #DDD;
  width: 333px;
  float: right;
}
.menu {
  padding: 0;
  clear: both;
  margin:0;
}
.menu li { display: inline;  }
.menu li a {
  background: #EEE;
  float: left;
  border: 1px solid #CCC;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  width: 100px;
  text-align: center;
}
.menu li a:hover {
  background: white;
}
.menu li.active a {
  border-bottom: none;
  background: white;
  margin-top: -3px;
  padding-top: 3px;
}
.tab_content {
  float: left;
  clear: both;
  padding: 10px 20px 20px;
}

.menu li a span.count{
  color: #D3D3D3;
  font-size: 10px;
}

.sponsors{
  display:block;
  margin-top: 25px;
  padding: 5px 25px 25px 25px;
  border-radius:8px;

  background-color: #fafafa;
}

.sponsors > a{
  display:inline-block;
  vertical-align: middle;
}

.block-children{
  display:inline-block;
  vertical-align: middle;
}

.block-children > a{
 display:block;
}

