html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:        100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing:       0;
  }

/*								   */
/* Theme starts here */
/*									 */

html{
  background: #F1F1F1;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-family: Georgia, "Bitstream Charter", serif;
}
body{
  width: 940px;
  background: white;
  margin: 2em auto;
  padding: 10px  20px 20px 20px;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin-bottom:1em;
}

h1 {
	font-size:200%;
}
h2 {
	font-size:150%;
}
h3 {
	font-size:125%;
}
h4 {
	font-size:100%;
}
h5 {
	font-size:75%;
}
h6 {
	font-size:50%;
}

p{
  margin-bottom: 1em;
}

ol, ul {
	margin-left: 2em;
	margin-bottom: 1em;
}

ul {
	list-style:square;
}

.wrapper{
  margin: 0 2em;
}
h1#logo{
  text-indent: -999em;
  width: 940px;
  height: 198px;
  background: url("skullspace.png");
}
#site-title{
  font-size: 30px;
  line-height: 36px;
  height: 36px;
  margin-bottom: 18px;
}
#site-title a{
  text-decoration: none;
  color: black;
  font-weight: bold
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;

}
#site-title a:hover, #site-title:active, #site-title:visited{
  color: black;
}
#twitter_feed{
  width: 500px;
}
#twitter_feed li{
  margin: 1em ;
}
#flickr{
  width: 420px;
  margin: 0 0 2em 2em;
  float: right;
}
#flickr a{
  float: right;
}
#flickr_feed{
  width: 375px;
  float : right;
  height: 300px;
  padding: 5px;
  margin:  5px;
	margin-bottom:1em;
  background: black;
          box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
     -moz-box-shadow: 0px 0px 5px black;
}
#flickr_feed a{
  cursor: pointer;
}
#flickr_feed img{
  margin:  0;
  padding: 0;
  float: left;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
  z-index:1;
}
#flickr_feed img:hover {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
       -o-transform: scale(1.5);
          box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
     -moz-box-shadow: 0px 0px 5px black;
  z-index:2;
  cursor: pointer;
}
.clear{
  clear:both;
}

#vimeo {
  margin: 4em 0px;
  height: 160px;
}

#vimeo a{
  float: right
}

#vimeo_feed div{
  width: 150px;
  font-size: 10px;
  float: left;
  margin: 1em 10px
}

ul#main-nav {
  list-style: none;
  height: 30px;
  background: black;
	margin-right:2em;
}

ul#main-nav li {
  float: left;
}

ul#main-nav li a{
  text-decoration: none;
  color: #eee;
  font-family: Arial;
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  padding: 0 2em;
  display: block;
}

ul#main-nav li a:hover {
  background: #333333;
  color: white;
}

